<div>
    <img src="./assets/amb.jpg" width="50%" height="250px" alt="Banner here"/>
    
</div>
<table class="table table-hover table-info">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Emergency Contact</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        <tr class="table table-hover table-info">
          
            
            <td>Vijayawada</td>
            <td>949027483</td>
            <td>vijayawada@gmail.com</td>
           
        </tr>
        <tr class="table table-hover table-info">
            
              
              <td>Ongole</td>
              <td>9894304632</td>
              <td>ongole@gmail.com</td>
              
           
          </tr>
          <tr class="table table-hover table-info">
           
             
              <td> Pamur </td>
              <td> 6926392643 </td>
              <td> pamur@gmail.com </td>
              
            
          </tr>
          <tr class="table table-hover table-info">
            
              
              <td>Kandukur</td>
              <td>9496783031</td>
              <td>kandukur@gmail.com</td>
              
            
          </tr>
          <tr class="table table-hover table-info">
            
              
              <td>Nellore</td>
              <td>6390362874</td>
              <td>nellore@gmail.com</td>
              
           
          </tr>
          <tr class="table table-hover table-info">
            
            
              <td>Kadapa</td>
              <td>7942746293</td>
              <td>kadapa@gmail.com</td>
              
            
          </tr>
          <tr class="table table-hover table-info">
            
              
              <td>Hyderabad</td>
              <td>7638745242</td>
              <td>hyd@gmail.com</td>
              
            
          </tr>
      </tbody>
    </table>
