
<div>
    <img src="../../assets/f.jfif" width="50%" height="250px" alt="Banner here" />
     
   </div> 
   <h1>WeeklyMenu</h1>   
   <table class="table table-hover table-info">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Breakfast</th>
        <th scope="col">Lunch</th>
        <th scope="col">Dinner</th>
      </tr>
    </thead>
    <tbody>
        <tr class="table table-hover table-info">
          
            
            <td>Monday</td>
            <td>Dosa</td>
            <td>Meals</td>
            <td>Dinner,Milk</td>
          
        </tr>
        <tr class="table table-hover table-info">
            
              
              <td>Tuesday</td>
              <td>Idly</td>
              <td>Meals</td>
              <td>Dinner,Milk</td>
           
          </tr>
          <tr class="table table-hover table-info">
           
             
              <td> Wednesday </td>
              <td> vada </td>
              <td> Meals </td>
              <td> Dinner ,Milk</td>
            
          </tr>
          <tr class="table table-hover table-info">
            
              
              <td>Thursday</td>
              <td>Puri</td>
              <td>Meals</td>
              <td>Dinner,Milk</td>
            
          </tr>
          <tr class="table table-hover table-info">
            
              
              <td>Friday</td>
              <td>Upma</td>
              <td>Meals</td>
              <td>Dinner,Milk</td>
           
          </tr>
          <tr class="table table-hover table-info">
            
            
              <td>Saturday</td>
              <td>Dosa</td>
              <td>Meals</td>
              <td>Dinner,Milk</td>
            
          </tr>
          <tr class="table table-hover table-info">
            
              
              <td>Sunday</td>
              <td>Pongali</td>
              <td>Meals</td>
              <td>Dinner,Milk</td>
            
          </tr>
      </tbody>
    </table>