
<div>
    <img src="./assets/m.jpg" width="50%" height="250px" alt="Banner here" />
  
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Medicines</th>
        <th scope="col">Available/Out Of Stock</th>
        
        
      </tr>
    </thead>
    <tbody>
        <tr class="table table-striped">
          
            
            <td>Dolo650</td>
            <td>Available</td>
          
        </tr>
        <tr class="table table-striped">
            
              
              <td>Covaxine</td>
              <td>Out Of Stock</td>
             
           
          </tr>
          <tr class="table table-striped">
           
             
              <td>covishield</td>
              <td>Available </td>
              
            
          </tr>
          <tr class="table table-striped">
            
              
              <td>Paracetmal</td>
              <td>Out Of Stock</td>
              
            
          </tr>
          <tr class="table table-striped">
            
              
              <td>Glucometer</td>
              <td>Available</td>
              
           
          </tr>
          <tr class="table table-striped">
            
            
              <td>Lhispmont</td>
              <td>out of stock</td>
              
            
          </tr>
          <tr class="table table-striped">
            
              
              <td>Immunity boosters </td>
              <td>Available</td>
             
            
          </tr>
      </tbody>
    </table>