<section class="home">
       <img src="../../assets/bg5.jpg">
     </section>
<div>
  
   
 </div>
 <div class="aboutright">
   <h2 style="color: darkblue;">VISION</h2>
   <hr style="left: 100%;height: 2px;color:rgb(1, 6, 12);">
   <pre style="font-size: 16px;">
 To develop HMS as a premier Institution 
 for the health Research and Treatment in the Country.</pre>
 </div>

 <div class="q1">
   <h2 style="color: darkblue;">QUALITY POLICY</h2>
   <hr style="left: 100%;height: 2px;color:rgb(1, 7, 14);">
   <p style="font-size: 16px;">We have very rigid Quality policy,which is Scientific in nature with methodologies and standardized operating procedures(SOP) as given here under.</p>
 </div>   

   <div class="qleft">
     <b><pre style="font-size: 20px;">
 HMS is committed to providing
 quality treatment and patient 
 satisfaction through:</pre></b>
     <ul>
        <li><pre style="font-size: 16px;">
 Continuous improvement of its Service.</pre></li>
        <li><pre style="font-size: 16px;">
 Quality and Safety Management System
 throughout the Organization.</pre></li>
        <li><pre style="font-size: 16px;">
 Increase the quality of life by 
 offering the best diagnosis and 
 treatment services for patients.</pre></li>
        <li><pre style="font-size: 16px;">
 Quality treatment and care to all
 sections of the community on 
 evidence-based medicine.</pre></li>
        <li><pre style="font-size: 16px;">
 Developing a qualified workforce
 by increasing the knowledge and
 abilities of employees and ensure
 that they deliver patient-friendly
 to all sections of the community.</pre></li>
     </ul> 
   </div>
  <div class="qmiddle">
      <b><pre style="font-size: 20px;">
 Patient satisfaction 
 and community needs:</pre></b>
        <ul >
            <li><pre style="font-size: 16px;">Quality outcomes.</pre></li>
            <li><pre style="font-size: 16px;">Comprehensive care.</pre></li>
            <li><pre style="font-size: 16px;">Compassionate.</pre></li>
            <li><pre style="font-size: 16px;">Culturally sensitive.</pre></li>
            <li><pre style="font-size: 16px;">Respectful.</pre></li>
            <li><pre style="font-size: 16px;">Reliable.</pre></li>
            <li><pre style="font-size: 16px;">Accessible.</pre></li>
            <li><pre style="font-size: 16px;">Affordable.</pre></li>
         </ul>     
  </div>
  <div class="qright" >
     <b><pre style="font-size: 20px;">
 Adopt Innovations in:</pre></b>
   
     <ul >
        <li><pre style="font-size: 16px;">Research and Development.</pre></li>
        <li><pre style="font-size: 16px;">Collaborative teamwork.</pre></li>
        <li><pre style="font-size: 16px;">Empowered and satisfied staff.</pre></li>        
      </ul>  
     
   </div> 






